---
import BaseLayout from '../layouts/BaseLayout.astro';
import CodeBlock from '../components/CodeBlock.astro';
import dashboardYaml from '../includes/dashboard.yaml?raw';
---

<BaseLayout title="Dashboard">
  <h1>Dashboard</h1>

  <p>Here is an example dashboard that uses apex charts to view the energy plan produced by EMHASS. I recommend using it to
  verify the energy plan before moving on to full battery automation.</p>

  <CodeBlock code={dashboardYaml} lang="yaml" />

  <h2 id="up-next">Up Next</h2>

  <p>→ <a href="/automation">Battery Automation</a></p>
</BaseLayout>

