---
import BaseLayout from '../layouts/BaseLayout.astro';
import CodeBlock from '../components/CodeBlock.astro';
import emhassYaml from '../includes/emhass.yaml?raw';

const configYaml = `homeassistant:
  packages: !include_dir_named packages`;
---

<BaseLayout title="EMHASS Setup">
  <h1>EMHASS Setup</h1>

  <h3>Configuration</h3>

  <p>Unfortunately, EMHASS has a long and confusing configuration page, many of which are not actually required.</p>

  <p>Thankfully, we can completely ignore the EMHASS configuration page, so just leave it as default. We will be overriding
  the values we care about later when running EMHASS. If you have already configured things and are having any trouble,
  try resetting them to the defaults.</p>

  <h3>Running EMHASS from Home Assistant</h3>

  <p>Since EMHASS is an addon, we need a communication system to run commands. One simple way is to use rest commands which
  we will setup below.</p>

  <p>You'll need access to your home assistant configuration files, I recommend the official
  <a href="https://github.com/hassio-addons/addon-vscode">vscode addon</a>.</p>

  <p>If you have not setup packages yet, create a <code>packages</code> directory alongside <code>configuration.yaml</code>, and then add this to
  your home assistant <code>configuration.yaml</code> file:</p>

  <CodeBlock code={configYaml} lang="yaml" />

  <p>Inside the <code>packages</code> directory, create a file named <code>emhass.yaml</code> with the following content:</p>

  <CodeBlock code={emhassYaml} lang="yaml" />

  <p>Then restart home assistant.</p>

  <p>These are the 3 emhass actions we will now be able to execute from home assistant. In this guide we will only use the
  last two. They all take a payload as a parameter, which will later include all the required information such as the
  forecasts and solar/battery specs.</p>

  <h2 id="up-next">Up Next</h2>

  <p>→ <a href="/emhass">Running EMHASS</a></p>
</BaseLayout>

